<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops...</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<header>
    <div class="profile" style="border-radius: unset;min-height: 110px; background-color: #b17a65">
        <h1 class="textStyle" style="color: #560909; position: absolute; margin-left: 20px">Access denied</h1>
        <div style="text-align: right">
            <form method="get" action="/user/logout">
                <button class="buttonClass" style="width: fit-content" type="submit">Log out</button>
            </form>
            <form  method="get" action="/user/">
                <button class="buttonClass" style="width: fit-content" type="submit">Home page</button>
            </form>
        </div>
    </div>
</header>
<body>
<div class="profile" style="align-content: center ; height: 757px; padding: 20px; border-radius: unset">
    <h1 class="textStyle" style="text-align: center; color: #4d6172">Nothing to see here...</h1>
</div>

</body>
</html>