<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Log In</title>
    <style>
        .buttonClass {
            background-color: gray;
        }

        .buttonClass:hover {
            background-color: darkgray;
        }
    </style>
</head>
<body>
<div style="margin-left: 38%; margin-top: 100px">
    <div th:if="${error != null}" style="background-color: lightcoral; color: white" class="alertClass"><label>Username or password is wrong</label></div>
    <div th:if="${logout != null}" style="background-color: gray; color: white" class="alertClass"><label>Logged out successfully</label></div>
    <br/>
    <form method="post" th:action="@{/login_perform}">
        <input class="inputClass" type="text" placeholder="Username" id="username" name="username" autofocus required>
        <br/>
        <input class="inputClass" type="password" placeholder="Password" id="password" name="password" required>
        <br>
        <label style="font-family: 'Bahnschrift'; margin-left: 190px; font-weight: 600; font-size:15px; color: dimgray;">Remember
            me</label>
        <input style="width: 20px; position: relative; top: 2px" type="checkbox" name="remember-me"/>
        <br/>
        <button class="buttonClass" style="color: white" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>